
/*sidebar css*/
  *{
    padding:0;
    margin:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration: none;
  }
  .side{
    padding-right: 99px;
    color:#F6F6F2
  }
  .side1{
    padding-right:78px;
    padding-top:15px;
    padding-bottom:15px;
  }
  #sidebar-toggle{
    display:none;
  }
  
  .side:hover{
    background:#158f97;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  
  }
  .sidebar{
    width:240px;
    position: fixed;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(45deg, rgb(57, 131, 127) 0%, rgb(108, 221, 217) 100%);
    z-index:100;
    color:#fff;
    overflow-y:auto;
    transition:width 500ms;
  }
  .sidebar1{
    width:0px;
    position: fixed;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(45deg, rgb(57, 131, 127) 0%, rgb(108, 221, 217) 100%);
    z-index:100;
    overflow-y:auto;
    transition:width 500ms;
  }
  .main-content{
    position:relative;
    margin-left: 240px;
    transition:margin-left 500ms;
  }
  .sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:60px;
    padding:2rem 1rem;
  }
  .sidebar-menu{
  padding:1rem;
  }
  .sidebar li{
    padding-bottom:1.2rem;
  }
  .sidebar a{
    color:#F6F6F2;
    font-size:1rem;
  }
  .sidebar1 li{
    padding-bottom:1.2rem;
  }
  .sidebar1 a{
    color:#F6F6F2;
    font-size:1rem;
  }
  #sidebar-toggle:checked ~ .main-content header{
    width: 95%;
  }
  .sidebar a span:last-child{
    padding-left:.6rem;
  }
  #sidebar-toggle:checked ~ .sidebar{
    width:60px;
  }
  .sidebar1 a span:last-child{
    padding-left:.6rem;
  }
 
  #sidebar-toggle:checked ~ .sidebar .sidebar-header h2 span,
  #sidebar-toggle:checked ~ .sidebar li span:last-child{
    display:none;
  }

  #sidebar-toggle:checked ~ .sidebar .sidebar-header,
  #sidebar-toggle:checked ~ .sidebar li
  {
    display:flex;
    justify-content:center;
  }
  
  #sidebar-toggle:checked ~ .sidebar ul{
    padding-left: 0px;
  }
  #sidebar-toggle:checked ~ .main-content{
    margin-left:60px;
  }
  #sidebar-toggle:checked ~ .main-content header{
  left:60px;
  
  }
  @media only screen and (max-width:746px)
  {
    .sidebar{
      display:none;
    }
     #sidebar-toggle:checked ~ .sidebar1{
    width:240px;
    position: fixed;
    height:100%;
    top:0;
    left:0;
    background: linear-gradient(45deg, rgb(45, 105, 102) 0%, rgb(122, 240, 236) 100%);
    z-index:100;
    color:#fff;
    overflow-y:auto;
    transition:width 500ms;    
  }
 
  #sidebar-toggle:checked ~ .main-content{
    margin-left:0px;
    
  }
  .small1{
    font-size: 23px;
    margin:7px;
    color:#388087;
    border-radius: 20%;
  }
  .small1:hover{
    background-color: #8cabad;
    color: #fff;
    cursor: pointer;
  }
  .main-content{
    margin-left: 0; 
  }
  .sidebar{
    width:290px;
  }
  }


  .img1 {
    border-radius: 7.25rem;
}
  .fa-bars:hover{
    cursor: pointer;
  }
  main{
    min-height: 100vh;
   
  }.box{
    margin-top:57px;  
    border-bottom: .5rem solid white;
  }
  .container1{
    margin-top:57px;
 }

.badge1{
  
  background: rgb(178, 13, 13);
  color:white;
  padding:0px 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  border-radius: 4px;
}
.total{
  background:#C2EDCE;
 
  
}
/*table css*/
.tbl-content1{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
 border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (max-width:910px)
{
 .th1{
   font-size: 14px;
 }
}
@media (max-width:810px)
{
 .th1{
   font-size: 13px;
 }
}
@media (max-width:700px)
{
 .th1{
   font-size: 12px;
 }
}

/*dashboard css*/
.welcome{
  color:rgb(23, 56, 58);
  font-size:30px; 
}
.student{
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basic{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.basic1{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
@media (max-width:414px)
{
  .basic1{
    font-size:14px;
  }
}
@media (max-width:393px)
{
  .basic1{
    font-size:12px;
  }
}
.img1{
  height: 160px;
  width:160px;

}

@media (min-width:555px)
{
  .img1{
 height:10px;
width:10px;
}
}

@media (max-width:414px)
{
  .hidden{
    display: none;
  }
}

@media (min-width:600px)
{
  .sm1{
    display: none;
  }
}
@media (max-width:600px)
{
  .sm{
    display: none;
  }
}

.dashcount:hover{
  background: linear-gradient(45deg, rgba(74,180,175,1) 0%, rgba(224,254,253,1) 100%);
}
.fssm{
  font-size: 17px;
}
@media (max-width:800px)
{
  .fssm{
    font-size: 12px;
  }
}
@media(max-width:550px)
{
  .cnt{
    display: none;
  }
}
@media(min-width:551px)
{
  .cnt1{
    display: none;
  }
}
@media(max-width:460px)
{
  .sl{
    display: none;
  }
}

.text-box{
-webkit-animation-delay: 0.2s;
-moz-animation-delay: 0.2s;
animation-delay: 0.2s;

}
    .animate{
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
    @keyframes fadeUp {
      from{
        opacity:0.2;
       
      }
      to{
        opacity: 1;
       
      }
    }
    .fadeUp{
      -webkit-animation-name: fadeUp;
      animation-name: fadeUp;
    }
    @-webkit-keyframes fadeUp{
      from{
        opacity:0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0);
      }
      to{
        opacity: 1;
        -webkit-transform:none;
        transform:none;
      }
    }
    .gutters-sm {
      margin-right: -8px;
      margin-left: -8px;
  }
  
  .gutters-sm>.col, .gutters-sm>[class*=col-] {
      padding-right: 8px;
      padding-left: 8px;
  }
  .mb-3, .my-3 {
      margin-bottom: 1rem!important;
  }
  
  .bg-gray-300 {
      background-color: #e2e8f0;
  }
  .h-100 {
      height: 100%!important;
  }
  .shadow-none {
      box-shadow: none!important;
  }
 
.img2{
  height: 40px;
  width:40px;
  border-radius: 50%;
  border: 2px solid rgb(188, 243, 232);
}