.profile-head {
    transform: translateY(5rem)
}
.cover {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.nav-link{
    font-size: 15px;
}

body {
    /* background: linear-gradient(to right,rgb(151, 165, 247),rgb(219, 147, 219)); */
    background: linear-gradient(to right,rgb(73, 16, 204),purple);
    min-height: 100vh;
    overflow-x: hidden
}
.img {
   
    border-radius: 7.25rem;
}
.media-body{
    padding-left: 17rem;
}
.bg{
    background: linear-gradient(to right,rgb(73, 16, 204),purple);
}
.text{
    
    background-image:linear-gradient(to right,rgb(96, 33, 243),rgb(179, 9, 179));
    background-size: 100%;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.home-div{
    border-style:ridge;  
}
@media only screen and (max-width: 450px) {
    .home-div {
        border: none;
        font-size: smaller; 
    }
  }

  @media only screen and (max-width: 574px) {
      .media-body{
          margin-top: 20px;
       padding-top: 56px;
       padding-left: 90px;
       padding-right: 90px; 
      }
      .social
      {
         text-align: center;
      }
      .img
      {
          width:170px;
      }
      .col-md-3{
          display: none;
      }

      .media, .small{
          text-align: center;
      }
      .heading{
          text-align: center;
      }
    }
     
    hr {
        border-width: 3px;
    }
    
    .card {
        padding: 2% 7%;
        position: relative;
        width:100%;
    }
    .social>i {
        padding: 1%;
        font-size: 15px
    }
    .policy>div {
        padding: 4px;
    }
    
    .heading {
       color: white
    }
    
    .divider {
        border-top: 2px solid white
    }
   
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0
    }
    
    ul>li {
        padding: 4px;
        }
    
    ul>li:hover {
        font-size: small;
     cursor: pointer
    }

    @media (max-width: 550px) {
        .text1 {
            display: none;
            
        }
       
        .ku{
            text-align: center;
        }
      
    }
    
    @media (min-width: 551px) {
       .icon {
            display: none;
        }
    }  
   
    .text1{
        font-weight:600;   
    }
   
  
   