/*StuLayout*/
.profile-head {
    transform: translateY(5rem)
}
.cover {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.nav-link{
    font-size: 15px;
}
.navbar-brand{
    color: rgba(156, 97, 184, 0.897);
}
.navbar-brand:hover{
    color: white;
    background-color:  rgba(156, 97, 184, 0.897);
  
}
.gradiant{
    background: linear-gradient(to right,rgb(96, 33, 243),rgb(179, 9, 179));
   
}
body {
    /* background: linear-gradient(to right,rgb(151, 165, 247),rgb(219, 147, 219)); */
    background: linear-gradient(to right,rgb(73, 16, 204),purple);
    min-height: 100vh;
    overflow-x: hidden
}
.img {
    border-radius: 7.25rem;
}
.media-body{
    padding-left: 17rem;
}
.bg{
    background: linear-gradient(to right,rgb(73, 16, 204),purple);
}
.text{
    
    background-image:linear-gradient(to right,rgb(96, 33, 243),rgb(179, 9, 179));
    background-size: 100%;
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    
}
.home-div{
    border-style:ridge;  
}
@media only screen and (max-width: 450px) {
    .home-div {
        border: none;
        font-size: smaller; 
    }
  }
@media only screen and (max-width: 574px) {
      .media-body{
         margin-top: 20px;
         padding-top: 56px;
         padding-left: 90px;
         padding-right: 90px; 
      }
      .social
      {
         text-align: center;
      }
      .img
      {
          width:170px;
      }
      .col-md-3{
          display: none;
      }

      .media, .small{
          text-align: center;
      }
      .heading{
          text-align: center;
      }
    }

    hr {
        border-width: 3px;
    }
    .policy>div {
        padding: 4px;
    }
    .divider {
        border-top: 2px solid white
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0
    }
    .card {
        padding: 2% 7%;
        position: relative;
        width:100%;
    }
    .social>i {
        padding: 1%;
        font-size: 15px
    }
    .social>i:hover {
       
        cursor: pointer;
    }
    ul>li {
        padding: 4px;   
    }
    .heading {
       color: white;
    }
    ul>li:hover {
        font-size: small;
     cursor: pointer
    }
    @media (max-width: 550px) {
        .text1 {
            display: none;       
        }
        .ku{
            text-align: center;
        }
        .img{
            
            margin-left: 62px;
            margin-right: 62px;  
        }
    }
    @media (min-width: 552px) {
       .icon {
            display: none;
        }
    }  
    .text1{
        font-weight:600;   
    }

   /*Stumeal and Sturecord*/
h1{
    margin-top: 40px;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
  }
  table{
    width:100%;
    table-layout: fixed;
   
  }
  .tbl-header{
    background-color: rgba(255,255,255,0.3);

   }
  .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
  
    border: 1px solid rgba(255,255,255,0.3);
  }
  .th{
      background-color: rgba(255,255,255,0.3);
  }
  th{
    padding: 15px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
  }
  td{
    padding: 15px 10px;
    text-align: center;
    vertical-align:middle;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    border-bottom: solid 1px rgba(255,255,255,0.1);
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
  body{
    background: -webkit-linear-gradient(left, rgb(90, 25, 241),rgb(160, 6, 160));
    background: linear-gradient(to right, rgb(96, 36, 235),rgb(156, 10, 156));
    font-family: 'Roboto', sans-serif;
  }
  section{
    margin: 50px;
    margin-bottom: 70px;
    margin-top: 10px;
  }
  @media (max-width: 550px) {
      section{
          margin:15px;
          margin-bottom: 50px;
      }
  
    th{
        font-size: 13px;
    }
    td{
        font-size: 11px;
    }
    h1{
        font-size:large;
    }
}
@media (max-width:400px){
    th{
        font-size: 10px;
    }
}
  /* for custom scrollbar for webkit browser*/
  
  ::-webkit-scrollbar {
      width: 6px;
  } 
  ::-webkit-scrollbar-track {
      box-shadow: inset;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  } 
  ::-webkit-scrollbar-thumb {
      box-shadow: inset;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  }
/*Stubasic detail css*/
.con{
    background-color: rgb(218, 211, 243);
}
@media (max-width:550px)
{
    .con{
        font-size: 12px;
    }
    .button{
        display: none;
    }
}
.dt{
    font-weight: 500;
    background:linear-gradient(to right,rgb(156, 116, 250),rgba(182, 106, 226, 0.562));
}
@media (min-width: 550px) {
    .fa-trash-o {
         display: none;
     }
 }  

 /* .meal{
   
     padding-left: 50px;
     padding-right:50px;
 } */
 @media (max-width: 450px) {
   .meal
   { 
    font-size: 12px;
   }
 } 
.de{
    color: rgba(139, 62, 62, 0.884);
}
.row{
    border-radius: 1.3rem;
}


   