/node_modules
.env
.txt
/RawData
.env
*.txt
node_modules/
jspm_packages/
*.cab
*.msi
*.msm
*.msp
*.lnk
# node-waf configuration
.lock-wscript
build/Release
node_modules/
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history      